<button id="duplicate" class="outsideBtn">Duplicate</button>
<button id="bg" class="outsideBtn">Background</button>
<button id="header" class="outsideBtn">Heading</button>
<button id="delete" class="outsideBtn">Delete</button>

<div class="card">
  <h1 class="title">Baljeet: The IT GOD</h1>

  <img class="Image" src="https://i.redd.it/zckxgrywjpk61.jpg" alt="Baljeet">
  
<div class="details">
  <input type="checkbox" style='display: none' id=cb checked>
  <label for="cb" class="haxbtn">Details</label>
  <div class="description">
  <p id="content" class="pScale">Baljeet is here to fix all of your IT problems</p>
  </div>
  
  </div>
</div>